__pycache__
dat_binary
dat_nucleus
databases
databases010921
My_Segmentation
results
Stephen_Segmentation
venv
.vscode
dat
datFullSet
datOld
.DS_Store
pythonText.txt
datOutlier
dat_databases
datDiv
meduim wounds?
datProcessing
Deep-Tumour-Spheroid
train
datNew
dat010921